﻿@model IEnumerable<ReportModel>
@{
    ViewData["Title"] = "Home Page";
}
@Html.ActionLink("New", "ReportDesigner", "Home")
<br>
<br>
<div>
    <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Open</th>
            <th>Preview</th>
        </tr>
        @foreach (var report in Model)
        {
            <tr>
                <td>@report.Id</td>
                <td>@report.Name</td>
                <td>@report.Description</td>
                <td>@Html.ActionLink("Open", "ReportDesigner", "Home", new { id = report.Id })</td>
                <td>@Html.ActionLink("Preview", "ReportViewer", "Home", new { id = report.Id })</td>
            </tr>
        }
    </table>
</div>
